/* YOUR STYLING HERE */
.text-box {
  width: 400px;
  height: 150px;
  border-radius: 3px;
}

body {
  font-family: Helvetica;
}

.color {
  color: blue;
}

h1 {
  margin-bottom: 2px;
}

.sponsor {
  margin-top: 0;
  font-style: italic;
  font-size: 13px;
}
